section
{
	text-align: right;
	float: left;
	padding-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 22px;
}
#logo
{
	cursor: pointer;
}
#foto_mil
{
	float: right;
	margin-left: 2%;
}
body
{
	margin:2%;
}
.encarte
{
	width: 480px;
	height: 640px;
	cursor: pointer;
}
.page-header
{
	text-align: center;
}
.list-group
{
	text-align: left;
}
#contato
{
	text-align: center;
}
aside
{
	float:right;
	margin-left: 80%;
}